
.header {
  margin            : 0;
  padding           : 0;
  display           : flex;
  justify-content   : center;
  align-items       : center;
  border-bottom     : 1px solid #efefef;
  box-shadow        : 0px 4px 4px #efefef;
  -webkit-box-shadow: 0px 4px 4px #efefef;
  -moz-box-shadow   : 0px 4px 4px #efefef;
 

}

.menu {
  margin         : 15px 30px;
  list-style-type: none;
  font-size      : 21px;
  font-weight    : 500;
  cursor         : pointer;

}

a {
  color          : #333;
  text-decoration: none;
}

a:active {
  color: #000;
}

a:hover {
  color: #999;
}